<div class="flash">
  <% if (typeof flash === 'object' && typeof flash.success === 'object' ) { %>
  <span class="success"><%= flash.success[0] %></span>
  <% } %>
  <% if (typeof flash === 'object' && typeof flash.info === 'object' ) { %>
  <span class="success"><%= flash.info[0] %></span>
  <% } %>
  <% if (typeof flash === 'object' && typeof flash.error === 'object' ) { %>
  <span class="success"><%= flash.error[0] %></span>
  <% } %>
</div>