<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project/<%= project.id %>">Project</a>
</div>

<div class='row'>
<form method="post" role="form" class="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="email">Amount</label>
        <input type="text" class="form-control" name="amount" id="amount">
    </div>
    
    <input class="btn btn-success" type="submit" value="Create" />
</form>
</div>

