<div class="row btn-group">
<a class="btn btn-primary" href="<%= adminprefix %>/person/new">New Person</a>
</div>
<div class="row">
<table class="table-striped table-bordered">
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
    </tr>
<% items.forEach(function (item) { %>
    <tr>
        <td><a href="<%= adminprefix %>/person/<%= item.id %>">View</a></td>
        <td><%= item.name %></td>
    </tr>
<% }); %>
</table>
</div>
