<div class="row actions">
<a class="btn btn-info" href="<%= adminprefix %>/project">Projects</a>
</div>

<div class='row'>
<form method="post" role="form" class="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    
    <input class="btn btn-success" type="submit" value="Create" />
</form>
</div>

