<div class="row btn-group">
<a class="btn btn-info" href="/project">Projects</a>
<a class="btn btn-primary" href="/project/<%= item.id %>/edit">Edit Project</a>
<a class="btn btn-danger" href="/project/<%= item.id %>/remove">Remove Project</a>
</div>
<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= item.name %></td>
        </tr>
    </table>
</form>
</div>
