<div class='row'>
<form method="post" role="form" class="form">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    
    <input class="btn btn-success" type="submit" value="Sign In" />
</form>
</div>

