
h1, h2, h3 {
    text-align: center;
}

.btn.project {
    width: 95%;
    max-width: 400px;
}

.btn.period {
    width: 95%;
    max-width: 400px;
}

.btn.person {
    width: 95%;
    max-width: 400px;
}

.btn.share {
    width: 95%;
    max-width: 400px;
}

#signin {
    text-align: center;
}

#changepass {
    text-align: center;
}

#projects {
    text-align: center;
}

#projectsactions {
    text-align: center;
}

#projectsharesnotes {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#projectperiods {
    text-align: center;
}

#projectpersons {
    text-align: center;
}

.actions {
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#projectactions {
    text-align: center;
}

#periods {
    text-align: center;
}

#projectshares {
    width: 100%;
    height: 50%;
}

#periodshares {
    text-align: center;
}

#shares {
    margin-top:1em;
    margin-bottom:1em;
}

#viewperiodshares {
    width: 100%;
    height: 50%;
}
