
h1, h2, h3 {
    text-align: center;
}

.btn.project {
    width: 95%;
    max-width: 400;
}

.btn.period {
    width: 95%;
    max-width: 400;
}

#projects {
    text-align: center;
}

#projectactions {
    text-align: center;
}

#periods {
    text-align: center;
}

#periodshares {
    text-align: center;
}