
h1, h2, h3 {
    text-align: center;
}

.btn.project {
    width: 95%;
    max-width: 400px;
}

.btn.period {
    width: 95%;
    max-width: 400px;
}

#signin {
    text-align: center;
}

#projects {
    text-align: center;
}

#projectsactions {
    text-align: center;
}

#projectactions {
    text-align: center;
}

#periods {
    text-align: center;
}

#projectshares {
    width: 100%;
    height: 50%;
}

#periodshares {
    text-align: center;
}

#shares {
    margin-top:1em;
    margin-bottom:1em;
}

