<div class="row btn-group">
    <a class="btn btn-info" href="/project/{{ project.id }}">Project</a>
    <a class="btn btn-primary" href="/project//{{ project.id }}/period/{{ period.id }}/edit">Edit Period</a>
    <a class="btn btn-danger" href="/project//{{ project.id }}/period/{{ period.id }}/remove">Remove Period</a>
    </div>

    <div class='row'>
        <table class="table-striped table-bordered">
            <tr>
                <td>Name</td>
                <td>{{ period.name }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ period.date }}</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>{{ period.amount }}</td>
            </tr>
        </table>
    </div>

    <div class='row'>
    <h2>Assignments</h2>

    <div class="btn-group">
    <a class="btn btn-primary" href="/project/{{ project.id }}/period/{{ period.id }}/assignment/new">New Assignment</a>
</div>

<table class="table-striped table-bordered">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th></th>
    </tr>
    <tr ng-repeat="assignment in assignments">
        <td><a href="/person/{{ assignment.from.id }}">{{ assignment.from.name }}</a></td>
        <td><a href="/person/{{ assignment.to.id }}">{{ assignment.to.name }}</a></td>
        <td>{{ assignment.amount }}</td>
        <td>
        <a class="btn-danger btn-sm" href="/project/{{ project.id }}/period/{{ period.id }}/assignment/{{ assignment.id }}/remove">Remove</a>
        </td>
    </tr>
</table>
</div>
