<form role="form" class="form-inline" action="/notes/<%= note.id %>" method="POST">
  <label class="form-group">
    <span class="input-group">
      <span class="input-group-addon">Note Text: </span>
      <input class="form-control" type="text" name="note.text" value="<%= note.text %>"/>
    </span>
  </label>
  <button class="btn btn-primary" type="submit">Save note</button> <a href="/notes">Cancel</a>
</form>