
<% if (note) { %>
    <p><%= note.text %></p>
<% } %>

<a href="<%= adminprefix %>/notes">&laquo; Back to list</a>
<a class="btn btn-primary" href="<%= adminprefix %>/notes/<%= note.id %>/edit">Edit note</a>


